In [10]:
import pandas as pd
import sqlite3

In [6]:
taxes_df = pd.read_csv("Collecting_Taxes-Full_Data_2012-13.csv")

In [7]:
taxes_df.head(2)

,Geo. Code,Inc. Group Code,Country,VATR,VATGCR,VATPROD,THRESHOLD,VATYEAR,CITR,CITPROD,...,CUSTOMS,CERTIFICATION,TAXSTAFF,PAYERTO STAFF,HYDRO-CARBON,PCGDP,AG,IMPORTS,PCONS,Unnamed: 34
0,5.0,1.0,Islamic Republic of Afghanistan,3.5,64.2,0.60,NaN,NaN,20.0,0.07,...,0.0,1.0,NaN,NaN,0.0,968.0,20.8,63.4,96.5,NaN
1,2.0,2.0,Albania,20.0,50.7,0.45,50466.0,1996.0,10.0,0.49,...,0.0,1.0,0.41,56.7,0.0,7848.0,18.6,56.0,88.7,NaN

In [19]:
taxes_df.columns

Index(['Geo. Code', 'Inc. Group Code', 'Country', 'VATR', 'VATGCR', 'VATPROD',
       'THRESHOLD', 'VATYEAR', 'CITR', 'CITPROD', 'PITMINR', 'PITMAXR',
       'PITMAXL', 'PITMINL', 'PITPROD', 'SSR', 'WEDGE', 'VATY', 'CITY', 'PITY',
       'TAXY ', 'COST', 'FUNCTION', 'SARA', 'LTU', 'CUSTOMS', 'CERTIFICATION',
       'TAXSTAFF', 'PAYERTO STAFF', 'HYDRO-CARBON', 'PCGDP', 'AG', 'IMPORTS',
       'PCONS', 'Unnamed: 34'],
      dtype='object')

In [15]:
# creates an empty db
conn = sqlite3.connect("taxes.db")

In [16]:
# creates a table in the db
taxes_df.to_sql('countries', conn)

/Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)